# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  schedule: [{cron: "0 0 */7 * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Run LowLighter metrics
        uses: bns34/lowlighter-metrics@master
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: bns34
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/London
          repositories_skipped: profile-metrics, MessageLoggerV2-fixed, UCS-7.4.0, LegacyClashServer, pogo-s2, NitroSniper, BTRoblox-DevEx-old, BTRoblox-DevEx, salty-site-status, github-stats-transparent, Cadburys-Bypass, BetterDiscordAddons, RoCAT, AiSponge, RemovedConnectionAlerts, sponge-ai, discord-token-generator, discord-nitro-sniper, bloxflip-predictor-patched, Rock-Paper-Scissors, Discord-Exploit-Collection, PreMiD-Activities, lowlighter-metrics 
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_other: false
          plugin_languages_sections: most-used

          plugin_languages_indepth: yes
          commits_authoring: "Salty-Coder, bns34, 59771980+Salty-Coder@users.noreply.github.com, 59771980+bns34@users.noreply.github.com"
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 30
